<Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/">
   <Body>
      <loginResponse>
         <loginReturn>
            <transid>1232</transid>
            <schedule_id>510100</schedule_id>
            <result>0</result>
            <result_namespace><%= parameters[:ErrorMesage] %></result_namespace>
            <trans_ext_reference>c</trans_ext_reference>
         </loginReturn>
      </loginResponse>
   </Body>
</Envelope>